priority 0

snippet link "HTML <link> light" w
<link rel="${1:stylesheet}" href="${2:/css/style.css}" />
endsnippet

snippet refresh "HTML <meta> refresh tag" w
<meta http-equiv="refresh" content="${1:1}" />
endsnippet
